@use "../abstracts/" as *;


/* buttons */
$disabled-state-color: hsl(200, 11%, 84%);

.button {
    --_button-bg-color: var(--button-bg-color, #{$clr-dark-blue});
    --_indicator-bg-color: var(--indicator-bg-color, hsl(205, 41%, 18%));

    display: flex;
    align-items: center;
    width: min(95%, rem(280));

    padding: 0;
    background-color: var(--button-bg-color, #{$clr-dark-blue});
    color: $clr-white;
    cursor: pointer;

    border: 1px solid transparent;

    letter-spacing: em(2);
    text-transform: uppercase;
    text-wrap: nowrap;


    &--secondary {
        justify-content: center;

        padding: rem(18);

        color: $clr-grayish-dark-blue;
        background: none;
        border: 1px solid currentColor;

    
        &:hover:not(:disabled),
        &:focus-visible:not(:disabled) {
            background-color: $clr-dark-blue;
            color: $clr-white;
            border-color: transparent;
        }

        &:disabled {
            color: $disabled-state-color;
        }
    }


    &:hover,
    &:focus-visible {
        --button-bg-color: #{$clr-accent};
        --indicator-bg-color: hsl(167, 36%, 49%);
    }


    &:focus-visible {
        outline: 3px solid $clr-accent;
    }


    &:disabled {
        --button-bg-color: #{$disabled-state-color};
        --indicator-bg-color: #{darken($disabled-state-color, 4%)};
    }
    

    /* make hover icon white if button is hovered or disabled */
    &:where(:hover, :focus-visible, :disabled) {
        .button__hover-icon {
            filter: brightness(100);
        }
    }

    
    &__hover-indicator {
        background-color: var(--_indicator-bg-color);
        padding: rem(18);
    }


    &__text {
        flex: 1;
    }
}

.hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;

    display: none;
}