@use "../abstracts/" as *;

/* general */
html {
    scroll-behavior: smooth;
    scroll-padding-top: rem(112);
}


body {
    font-family: $font-family-body;
    background-color: $clr-white;
    color: $clr-body;

    overflow-x: hidden;
}


.border-block {
    border-block: 1px solid $clr-light-gray;
    padding-block: var(--padding-block, 2rem);
    margin-block: var(--margin-block, 2rem);

    @include grid(rem(24));

    > .grid {
        gap: inherit;
    }
}


.social-media {
    @include list($row:"true", $item-gap: rem(15), $off-markers: "true");
    align-items: center;

    &--light {
        img {
            filter: brightness(100%);
        }
    }
}