@use "../abstracts/" as *;

/* general */
body {
    font-family: $font-family-body;
    background-color: $clr-white;
    color: $clr-grayish-dark-blue;

    overflow-x: hidden;
}


.border-block {
    border-block: 1px solid $clr-light-gray;
    padding-block: 2rem;
    margin-block: 2rem;

    @include grid(rem(24));
}