@use "../abstracts/" as *;

.project-main {
    --gap: #{rem(64)};
    padding-top: clamp(rem(40), 5vw, rem(94));

    @include mq-min($medium-screen-size) {
    }
}


.about-project {
    @include grid(rem(40));

    > .grid {
        --gap: #{rem(40)};
    }


    &__border-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(em(350), 1fr));
        margin-block: 0;
    }


    &__tags {
        --gap: #{rem(8)};
    }


    &__description {
        grid-row: span 2;
    }


    &__background {
        --gap: #{rem(28)};
    }


    &__static-previews {
        --gap: #{rem(40)};
    }


    &__preview-list {
        @include list($row: "false", $item-gap: 2rem, $off-markers: "true");
    }


    @include mq-min($large-screen-size) {
        grid-template-columns: 1fr 2fr;
        column-gap: rem(115);
        align-items: start;
    }
}


.switch-project {
    display: grid;
    grid-template-columns: 1fr 1fr;

    // padding-top: clamp(rem(65), 10vw, rem(80));;

    &__button {
        background: none;
        border: none;
        cursor: pointer;
    }

    &__section {
        display: flex;
        flex-direction: column;

        gap: 1rem;
        
        padding-block: rem(24);
        border-block: 1px solid $clr-light-gray;

        &[data-switch-to=prev] {
            border-right: 1px solid $clr-light-gray;
        }
        
        &[data-switch-to=next] {
            align-items: end;
            text-align: right;
        }
    }

    &__project-name::after {
        content: attr(data-undertext);
        display: block;
        color: hsl(240, 3%, 60%);
        font-family: $font-family-body;
        font-size: $font-size-body1;
    }


    @include mq-min($medium-screen-size) {
        &__section {
            flex-direction: row;

            &[data-switch-to=next] {
                align-items: center;
                justify-content: end;

                .switch-project__button {
                    order: 1;
                }
            }
        }
    }
}