@use "../abstracts/" as *;

/* FOOTER */
.footer {
    padding: rem(56);
    margin-top: rem(115);
    background-color: $clr-grayish-dark-blue;
    color: $clr-white;
    &__content {
        @include grid(rem(40));
        justify-items: center;
    }

    
    img {
        filter: brightness(100);
    }

    &__nav-item-group {
        @include list($row:"false", $item-gap: 1rem, $off-markers: "true");
        gap: rem(40);
    }

    &__nav-list {
        text-align: center;
        flex-direction: column;
    }

    &__contact-platforms {
        @include list($row:"true", $item-gap: rem(15), $off-markers: "true");
        align-items: center;
    }



    @include mq-min($medium-screen-size) {
        &__content {
            grid-template-columns: auto 1fr;
            align-items: center;
            column-gap: rem(40);
        }


        &__navigation {
            width: 100%;
        }


        &__nav-item-group {
            display: flex;
            justify-content: space-between;
        }


        &__nav-list {
            flex-direction: row;
        }
    }

}