@use "../abstracts/" as *;
@use "../utils/" as *;

/* HEADER */
.primary-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: min($container-max-width, (100% - ($container-padding-inline * 2)));

        margin-inline: auto;
        padding-block: 2rem;
    }
    // left: 50%;
    // width: min($container-max-width, (100% - ($container-padding-inline * 2)));

    // transform: translateX(-50%);
    
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    background-color: $clr-white;

    @include mq-max($small-screen-size) {
        .primary-nav {
            @include grid(rem(32));
            visibility: hidden;
            position: absolute; 
            bottom: -100%;
            transform: translateY(50%);

            text-align: center;
            padding: rem(40) rem(80);
            right: 0;
            
            color: $clr-white;
            background-color: $clr-grayish-dark-blue;


            &--opened {
                visibility: visible;
            }
        }


        .hamburger-menu {
            display: block;
        }
    }
}