@use "../abstracts/" as *;

/* MAIN */
.home-main {

    > .grid {
        @include grid(rem(115));
    }
    
    &__profile-picture {
        img {
            width: 100%;
        }
    }


    @include mq-min($medium-screen-size) {
        &__about-me {
            display: grid;
            grid-template-columns: 1fr minmax(350px, 40%);
            column-gap: rem(94);
            align-items: center;
        }


        &__profile-picture img{
            height: 80vh;
            object-fit: cover;
        }
    }
}


.hero {
    @include grid(rem(24));
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hero"
    "main";


    &__picture {
        grid-area: hero; 
    }

    &__main {

        --_hero-main-padding: 1.5rem;

        @include grid(2rem);
        text-wrap: balance;
        background-color: $clr-white;
        grid-area: main;

        padding: var(--_hero-main-padding) var(--_hero-main-padding) 0 0;

        
    }


    @include mq-min($medium-screen-size) {
        grid-template-columns: minmax(100px, 1fr) 20rem 1fr;

        grid-template-areas: 
        "hero hero hero"
        "main main hero-3";

        &__picture {
            grid-row: hero / hero-3;
        }
    }


    @include mq-min($large-screen-size) {
        grid-template-columns: 25rem 2fr 2fr;
        grid-template-areas:
        "hero hero hero"
        "main hero-3 hero-3";
    }
}


.contact-author {
    @include grid(rem(40));
    text-align: center;
    justify-items: center;
    padding-block: rem(115);


    &__leading-line {
        display: none;

        width: 100%;
        height: 2px;
        background-color: $clr-light-gray;
    }


    &__cta-lead {
        @include heading($font-size-500, $font-weight-bold);
    }


    @include mq-min($medium-screen-size) {
        grid-template-columns: rem(430) 1fr 1fr;
        column-gap: 1rem;
        align-items: center;

        &__leading-line {
            display: inline-block;
        }
    }
}


